config/preneeds/wsdl/preneeds.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net.
	RI's version is Oracle JAX-WS 2.1.5. -->
<definitions
	xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.soa.eoas.cem.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soa.eoas.cem.va.gov/"
	name="PreNeedApplicationService">
    <wsp:UsingPolicy wssutil:Required="true" />
    <wsp:Policy wssutil:Id="Mtom.xml">
        <ns1:OptimizedMimeSerialization
			xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.soa.eoas.cem.va.gov/"
				schemaLocation="application.xsd" />
        </xsd:schema>
    </types>
    <message name="getMilitaryRankForBranchOfService">
        <part name="parameters" element="tns:getMilitaryRankForBranchOfService" />
    </message>
    <message name="getMilitaryRankForBranchOfServiceResponse">
        <part name="parameters" element="tns:getMilitaryRankForBranchOfServiceResponse" />
    </message>
    <message name="getStates">
        <part name="parameters" element="tns:getStates" />
    </message>
    <message name="getStatesResponse">
        <part name="parameters" element="tns:getStatesResponse" />
    </message>
    <message name="addAttachment">
        <part name="parameters" element="tns:addAttachment" />
    </message>
    <message name="addAttachmentResponse">
        <part name="parameters" element="tns:addAttachmentResponse" />
    </message>
    <message name="getAttachmentTypes">
        <part name="parameters" element="tns:getAttachmentTypes" />
    </message>
    <message name="getAttachmentTypesResponse">
        <part name="parameters" element="tns:getAttachmentTypesResponse" />
    </message>
    <message name="receivePreNeedApplication">
        <part name="parameters" element="tns:receivePreNeedApplication" />
    </message>
    <message name="receivePreNeedApplicationResponse">
        <part name="parameters" element="tns:receivePreNeedApplicationResponse" />
    </message>
    <message name="getCemeteries">
        <part name="parameters" element="tns:getCemeteries" />
    </message>
    <message name="getCemeteriesResponse">
        <part name="parameters" element="tns:getCemeteriesResponse" />
    </message>
    <message name="getDischargeTypes">
        <part name="parameters" element="tns:getDischargeTypes" />
    </message>
    <message name="getDischargeTypesResponse">
        <part name="parameters" element="tns:getDischargeTypesResponse" />
    </message>
    <message name="getBranchesOfService">
        <part name="parameters" element="tns:getBranchesOfService" />
    </message>
    <message name="getBranchesOfServiceResponse">
        <part name="parameters" element="tns:getBranchesOfServiceResponse" />
    </message>
    <portType name="PreNeedApplicationWebService">
        <operation name="getMilitaryRankForBranchOfService">
            <input message="tns:getMilitaryRankForBranchOfService" />
            <output message="tns:getMilitaryRankForBranchOfServiceResponse" />
        </operation>
        <operation name="getStates">
            <input message="tns:getStates" />
            <output message="tns:getStatesResponse" />
        </operation>
        <operation name="addAttachment">
            <input message="tns:addAttachment" />
            <output message="tns:addAttachmentResponse" />
        </operation>
        <operation name="getAttachmentTypes">
            <input message="tns:getAttachmentTypes" />
            <output message="tns:getAttachmentTypesResponse" />
        </operation>
        <operation name="receivePreNeedApplication">
            <input message="tns:receivePreNeedApplication" />
            <output message="tns:receivePreNeedApplicationResponse" />
        </operation>
        <operation name="getCemeteries">
            <input message="tns:getCemeteries" />
            <output message="tns:getCemeteriesResponse" />
        </operation>
        <operation name="getDischargeTypes">
            <input message="tns:getDischargeTypes" />
            <output message="tns:getDischargeTypesResponse" />
        </operation>
        <operation name="getBranchesOfService">
            <input message="tns:getBranchesOfService" />
            <output message="tns:getBranchesOfServiceResponse" />
        </operation>
    </portType>
    <binding name="PreNeedApplicationWebServicePortBinding" type="tns:PreNeedApplicationWebService">
        <wsp:PolicyReference URI="#Mtom.xml" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
        <operation name="getMilitaryRankForBranchOfService">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getStates">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="addAttachment">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getAttachmentTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="receivePreNeedApplication">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getCemeteries">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getDischargeTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getBranchesOfService">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="PreNeedApplicationService">
        <port name="PreNeedApplicationWebServicePort" binding="tns:PreNeedApplicationWebServicePortBinding">
            <soap:address
				location="http://ci.pnw.r2group.co/eoas_SOA/PreNeedApplicationPort" />
        </port>
    </service>
</definitions>
