config/mpi_schema/IdmWebService_200VGOV.wsdl.erb

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://vaww.oed.oit.va.gov"
	xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
	xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://vaww.oed.oit.va.gov">
	<types xmlns:tns="http://vaww.oed.oit.va.gov"
		xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/"
		xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
		xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
		xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
		xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
		xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:s="http://www.w3.org/2001/XMLSchema"
		xmlns="http://schemas.xmlsoap.org/wsdl/">
		<xsd:schema xmlns="urn:hl7-org:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:stns="http://vaww.oed.oit.va.gov"
			xmlns:hl7v3="urn:hl7-org:v3"
			elementFormDefault="qualified" attributeFormDefault="qualified"
			targetNamespace="http://vaww.oed.oit.va.gov">


			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="./HL7v3/multicacheschemas/PRPA_IN201305UV02.xsd"></xsd:import>
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="./HL7v3/multicacheschemas/PRPA_IN201306UV02.xsd"></xsd:import>

			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="./HL7v3/multicacheschemas/PRPA_IN201301UV02.xsd"></xsd:import>
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="./HL7v3/multicacheschemas/PRPA_IN201302UV02.xsd"></xsd:import>

			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="./HL7v3/multicacheschemas/MCCI_IN000002UV01.xsd"></xsd:import>

			<xsd:element name="PRPA_IN201305UV02" nillable="true">
			</xsd:element>
			<xsd:element name="PRPA_IN201306UV02" nillable="true">
			</xsd:element>

			<xsd:element name="PRPA_IN201301UV02" nillable="true">
			</xsd:element>
			<xsd:element name="PRPA_IN201302UV02" nillable="true">
			</xsd:element>

			<xsd:element name="MCCI_IN000002UV01" nillable="true">
			</xsd:element>

		</xsd:schema>
	</types>

	<message name="PRPA_IN201305UV02">
		<part xmlns:partns="http://vaww.oed.oit.va.gov"
			name="inboundXML" element="partns:PRPA_IN201305UV02">
		</part>
	</message>
	<message name="PRPA_IN201306UV02">
		<part xmlns:partns="http://vaww.oed.oit.va.gov" name="returnXML"
			element="partns:PRPA_IN201306UV02">
		</part>
	</message>

	<message name="PRPA_IN201301UV02">
		<part xmlns:partns="http://vaww.oed.oit.va.gov"
			name="inboundXML" element="partns:PRPA_IN201301UV02">
		</part>
	</message>
	<message name="PRPA_IN201302UV02">
		<part xmlns:partns="http://vaww.oed.oit.va.gov"
			name="inboundXML" element="partns:PRPA_IN201302UV02">
		</part>
	</message>

	<message name="MCCI_IN000002UV01">
		<part xmlns:partns="http://vaww.oed.oit.va.gov" name="returnXML"
			element="partns:MCCI_IN000002UV01">
		</part>
	</message>

	<portType name="VAIdMPort">

		<operation name="PRPA_IN201305UV02">
			<input message="tns:PRPA_IN201305UV02"></input>
			<output message="tns:PRPA_IN201306UV02"></output>
		</operation>

		<operation name="PRPA_IN201301UV02">
			<input message="tns:PRPA_IN201301UV02"></input>
			<output message="tns:MCCI_IN000002UV01"></output>
		</operation>

		<operation name="PRPA_IN201302UV02">
			<input message="tns:PRPA_IN201302UV02"></input>
			<output message="tns:MCCI_IN000002UV01"></output>
		</operation>


	</portType>
	<binding type="tns:VAIdMPort" name="VAIdMPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<operation name="PRPA_IN201305UV02">
			<soap:operation style="document" soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="PRPA_IN201301UV02">
			<soap:operation style="document" soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="PRPA_IN201302UV02">
			<soap:operation style="document" soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>


	</binding>
	<service name="VAIdM">
		<port name="VAIdMPort" binding="tns:VAIdMPort">
			<soap:address
				location="<%= IdentitySettings.mvi.url %>" />
		</port>
	</service>
</definitions>
